# My shell aliases

# ls
alias ls='ls --color=auto'
alias sl='ls'

# Pacaur
alias download='sudo xbps-install -S'
alias update='sudo xbps-install -Su'

# Vim
alias vim='nvim'

# Dual monitor
#alias dualMon='~/.screenlayout/dualMon.sh'

# Configs
alias zshrc="vim ~/.zshrc"
alias bspwmrc="vim ~/.config/bspwm/bspwmrc"
alias sxhkdrc="vim ~/.config/sxhkd/sxhkdrc"
alias vimrc="vim ~/.config/nvim/init.vim"
alias aliases="vim ~/.aliases"
