*urxvt.scrollBar: false
URxvt*font: xft:monaco:style=Regular:size=10
URxvt*boldFont: xft:monaco:style=Bold:size=10
URxvt.background: #333333
URxvt.foreground: white
*color4:#1e90ff
*color12:#4682b4
*urxvt.perl-ext-common: default,url-select,clipboard,tabbedex,fullscreen
*urxvt.keysym.M-c: perl:clipboard:copy
*urxvt.keysym.M-v: perl:clipboard:paste
URxvt*geometry: 120x40
*urxvt.url-select.underline: true
*urxvt.urlLauncher: firefox
URxvt*saveLines: 2048
URxvt.depth: 32
URxvt.tabbed.tabbar-bg: 8
URxvt.tabbed.tabbar-fg: 12
URxvt.tabbed.tab-bg: 4
URxvt.tabbed.tab-fg: 15
URxvt.tabbed.autohide: true
URxvt.tabbed.title: false
URxvt.keysym.F11:perl:fullscreen:switch
